<%= form_with model: @book_chapter, local: true, class: 'container' do |f| %>

  <div class="mb-3">
    <%= f.label :original_title, 'Название на языке оригинала', class: 'form-label' %>
    <%= f.text_field :original_title, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :english_title, 'Название на английском', class: 'form-label' %>
    <%= f.text_field :english_title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :publication_date, 'Дата публикации', class: 'form-label' %>
    <%= f.date_field :publication_date, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :publisher, 'Издатель', class: 'form-label' %>
    <%= f.text_field :publisher, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :isbn, 'ISBN', class: 'form-label' %>
    <%= f.text_field :isbn, class: 'form-control', required: true %>
  </div>

 <div class="mb-3">
  <label class="form-label">Авторы</label>
  <% @authors.each do |author| %>
    <div class="form-check">
      <%= check_box_tag 'book_chapter[author_ids][]', 
                        author.id, 
                        @book_chapter.author_ids.include?(author.id),
                        class: 'form-check-input' %>
      <label class="form-check-label">
        <%= author.full_name %>
      </label>
    </div>
  <% end %>
</div>

  <div class="mb-3">
    <%= f.label :number_pages, 'Количество страниц', class: 'form-label' %>
    <%= f.number_field :number_pages, class: 'form-control', required: true, min: 1 %>
  </div>

  <%= f.submit 'Сохранить', class: 'btn btn-primary' %>

  <%= link_to "Назад", book_chapters_path, class: 'btn btn-outline-primary w-80' %>
<% end %>
