<h1 class="text-center my-4">
  Доклады
</h1>

<div class="container">

  <%= link_to 'Новый доклад', new_report_path %>

  <table class="table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Дата публикации</th>
        <th>Авторы</th>
        <th>Докладчик</th>
        <th>Название конференции</th>
        <th>Место проведения конференции</th>

      </tr>
    </thead>
    <tbody>
      <% @reports.each do |rep| %>
        <tr>
          <td><%= link_to rep.original_title, rep %></td>
          <td><%= rep.publication_date %></td>
          <td><%= rep.authors.pluck(:full_name).join(', ') %></td>
          <td><%= Author.find(rep.speaker_id).full_name %></td>
          <td><%= rep.conference_name %></td>
          <td><%= rep.conference_venue %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Назад", root_path, class: 'btn btn-outline-primary w-80' %>
</div>
